.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.xlsx
.env
.idea/
.vscode/
staticfiles/
media/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.DS_Store
*.mp3
яхтенные_компании.xlsx
задача.md
parse_ns.py
.python-version
celerybeat-schedule
